@use 'chaves';

@mixin elementoForm() {
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

@mixin topo() {
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: chaves.$fontPrincipal;
}

body {
    background-color: chaves.$corDeFundo;

    li {
        list-style: none;
    }

    .container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }
}

header {
    background-color: chaves.$corPrincipal;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        @include topo();
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;

        .menu {
            @include topo();

            li {
                font-weight: bold;
                margin-left: 24px;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

section {
    padding: 56px 0;
}

.products {
    @include elementoForm();
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;

    img {
        @include elementoForm();
        border-radius: 16px;
    }
    
    a {
        @include elementoForm();
        background-color: chaves.$corSecundaria;
        color: #fff;
        text-align: center;
        padding: 12px 0;
        border-radius: 8px;
        margin-top: 8px;
        text-decoration: none;
    
        &:hover {
            background-color: lighten(chaves.$corHover, 15%);
        }
    }
}

@media screen and (max-width: chaves.$tablet) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: chaves.$mobile) {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}
